@font-face {
    font-family: 'GilroyLight';
    src: url('../../fonts/GilroyLight.eot');
    src: url('../../fonts/GilroyLight.eot') format('embedded-opentype'),
         url('../../fonts/GilroyLight.woff2') format('woff2'),
         url('../../fonts/GilroyLight.woff') format('woff'),
         url('../../fonts/GilroyLight.ttf') format('truetype'),
         url('../../fonts/GilroyLight.svg#GilroyLight') format('svg');
}
@font-face {
    font-family: 'GilroyExtraBold';
    src: url('../../fonts/GilroyExtraBold.eot');
    src: url('../../fonts/GilroyExtraBold.eot') format('embedded-opentype'),
         url('../../fonts/GilroyExtraBold.woff2') format('woff2'),
         url('../../fonts/GilroyExtraBold.woff') format('woff'),
         url('../../fonts/GilroyExtraBold.ttf') format('truetype'),
         url('../../fonts/GilroyExtraBold.svg#GilroyExtraBold') format('svg');
}
@font-face {
    font-family: 'GraphikRegular';
    src: url('../../fonts/GraphikRegular.eot');
    src: url('../../fonts/GraphikRegular.eot') format('embedded-opentype'),
         url('../../fonts/GraphikRegular.woff2') format('woff2'),
         url('../../fonts/GraphikRegular.woff') format('woff'),
         url('../../fonts/GraphikRegular.ttf') format('truetype'),
         url('../../fonts/GraphikRegular.svg#GraphikRegular') format('svg');
}